{% extends 'base.html' %}

{% block title %}
   Login Page 
{% endblock %}

{% block loginactive %}
      <li class="nav-item active">
        {% endblock %}


{% block contents %}

<div class="container">

    <form method="POST" class="form-register" style="color:white;">

        {{ form.hidden_tag() }}

        <center>
        <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/letter-b-logo-design-template-bd51cd692b1ae2d1232e5e3ae629b8ee_screen.jpg?ts=1639751661" 
        class="img_logo">
    </center>

        <h1 class="h3 mb-3 font-weight-normal" >
            Please login to your account
        </h1>
       
    {{ form.username.label() }}
    {{ form.username(class="form-control", placeholder="User Name") }}


    {{ form.password.label() }}
    {{ form.password(class="form-control", placeholder="Password") }}
   <br>
   <h6>Don't have an account ?</h6>
   <a href="{{url_for('register_page')}}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Register</a>
    <br>
    <br>
   

    {{ form.submit(class='btn btn-lg btn-block btn-primary')}}

    </form>

</div>

<style>
    .img_logo{
        width: 100px;
        height: 100px;
        border-radius: 100px;
    }

</style>

{% endblock %}